/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 15px 0px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);

}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e25c3d;
  cursor:pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-left: 15px;
}

.nav-links a { 
  text-decoration: none;
  margin: 0px 4px;
}

.activate {
  background-color: #c0574d;
  border:none;
  padding: 8px 15px 8px 15px;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
}

.home{
  background: #fff;
  color: black;
  border-radius: 10px;
  padding: 8px 15px 8px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

.home:hover{
  background-color: #c0574d;
  color: #fff;
  border:none;
}


.menu{
  background: #fff;
  transition: all 0.3s ease;
  border-radius: 10px;
  padding: 8px 15px 8px 15px;
  cursor: pointer;
}

.menu:hover{
  background-color: #c0574d;
  color: #fff;
  border:none;
}

.offers{
  background: #fff;
  transition: all 0.3s ease;
  border-radius: 10px;
 padding: 8px 15px 8px 15px;
  cursor: pointer;
}

.offers:hover{
  background-color: #c0574d;
  color: #fff;
  border:none;
}

.myOrders{
  background: #fff;
  transition: all 0.3s ease;
  border-radius: 10px;
  padding: 8px 15px 8px 15px;
  cursor: pointer;
}

.myOrders:hover{
  background-color: #c0574d;
  color: #fff;
  border:none;
}

.nav-actions {
  display: flex;
  gap: 0.6rem;
  margin-right: 15px;
}

.login-btn{
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px 15px 8px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-btn:hover{
  background-color: #c0574d;
  color:#fff;
}

.cart-btn {
  position: relative;
  background: #fff;
  border: none;
  border-radius: 8px;
  padding: 6px 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.item-count{
  position: absolute;
  top: 6px;
  right: 17px;
  border-radius: 50%;
  background-color: #c0574d;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 10px;
}


.cart-btn:hover{
  background-color: #c0574d;
  color: #fff;
}


.cart:hover{
  background-color: #c0574d;
  color: #fff;
}

.cart{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px 14px 5px 14px;
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
}


/* Responsive Design */
@media(max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .nav-links {
    display: none;
  }
}

@media(max-width:576px){
  .logo {
      font-size:1rem;
      padding: 0px;
      margin: 0;
    }
  .navbar{
    display: flex;
    flex-direction: row;
    height: 1rem;
    padding-left: 5px;
    padding-right: 5px;
  }
  .nav-actions{
    height:2.2rem;
    width: 45%;
    height: 1.5rem;
  }
  .login-btn{
    font-size: 0.5rem;
    border-radius: 6px;
    padding: 0px 10px;
  }
  .cart-btn{
    font-size: 0.5rem;
    padding-left: 4px;
    border-radius: 6px;
  }
  .bi-cart{
    font-size: 0.6rem;
  }
  
  .menu-toggle{
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
}